.flex-container-column {
display: flex;
flex-direction: column;
flex-wrap: no-wrap;
height: calc(100vh - 130px);
justify-content: space-between;
}

.flex-container-row-menu {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: baseline;
}

.flex-container-row-menu:hover li a{
opacity: 0.7;
}


.flex-container-row-art {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: baseline;
}


.flex-item {

min-width: 300px;
display: flex;
flex-direction: row;
align-items: baseline;
}

.col-sx{
background-color: #0F1503;
width: 230px;
}



.playlist ul{
margin-left: -40px; /*debug*/
}
.playlist ul li {
list-style-type: none;
overflow-x: hidden;
}

.listacanzoni{
width: 80%;
height: calc(20vh - 30px);
overflow-y: scroll;
margin-bottom: 25px;

}

.listacanzoni ul li p{
transform:scale(0.5);
}

/*sezione centrale colonna dx*/

.artisti{
  height: calc(100vh - 130px);
}
.artisti ul li.artista{
width: calc(100% / 6);
display: block;
margin: 2px 7px;
position: relative;
}



.artista:hover .arteffect{
opacity: 0.7;
}

.più{
position: absolute;
top:50%;
left: 50%;
transition: transform(-50%, -50%);
display: none;
color: white;

}

.artista:hover .più{
transform: scale(2);
display: block;
/*background: rgba(208, 205, 196, 0.72);*/
/*padding:20%;*/
}




.imgsinger{
width: 100%;
height: auto;
display: block;
}

.personaldata{
display: flex;
flex-direction: column;
flex-wrap: no-wrap;
justify-content: flex-end;
}

.app{
display: flex;
flex-direction: row;
flex-wrap: no-wrap;
justify-content: center;
align-items: baseline;
}
.linea{
border: 2px solid grey;
}
/*main*/

.cool-link::after{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.cool-link:hover::after{
  width: 80%;
}

.brani{
width: 100%;
overflow-y: scroll;
margin-bottom: 25px;
color: white;

}

.brani ul li{
  list-style-type: none;
  width: calc(100% / 8);

}
.brani ul li a{
  color: white;
  text-decoration: none;
}

.wrapper{
  width: 80%;
  margin: 3% 10%;
  height: calc(90vh - 130px);
}


.logo{
width: 30%;
height: auto;
margin-top: 3px;
margin-bottom: 8px;
filter: invert(1);
}

.logoprova{
width: 100%;
height: auto;
margin-top: 3px;
margin-bottom: 8px;
filter: invert(1);
}

.flex-img{
  width: 6%;
  height: auto;
  filter: invert(1);
}

/* sezione player*/

.player{
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #282828;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 130px;

}

.play{
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: invert(1);
}

.playtop{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10%;
}

.playbtm{
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.actualartist{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  filter: invert(1);
}
.actualartist img.riprodotto{
  width: 25%;
}

.loader{
  position: relative;
  display: flex;
}

.loader span{
  width: 5px;
  height: 10px;
  margin: 0 3px;
  background: #2196f3;
  animation: animate 1.4s linear infinite;
}

@keyframes animate {

  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateX(-5px) scale(1);

  }
  50% {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    opacity: 1;
    transform: translateX(0px) scale(1.2);
  }

    100% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
      opacity: 0;
      transform: translateX(5px) scale(1);
    }
}

.loader span:nth-child(1){
animation-delay: 0s;
}

.loader span:nth-child(2){
animation-delay: 0.1s;
}

.loader span:nth-child(3){
animation-delay: 0.2s;
}

.loader span:nth-child(4){
animation-delay: 0.3s;
}

.loader span:nth-child(5){
animation-delay: 0.4s;
}

.loader span:nth-child(6){
animation-delay: 0.5s;
}

.loader span:nth-child(7){
animation-delay: 0.6s;
}

.loader span:nth-child(8){
animation-delay: 0.7s;
}

.loader span:nth-child(9){
animation-delay: 0.8s;
}

.loader span:nth-child(10){
animation-delay: 0.9s;
}

.loader span:nth-child(11){
animation-delay: 1s;
}

.loader span:nth-child(12){
animation-delay: 1.1s;
}

.loader span:nth-child(13){
animation-delay: 1.2s;
}

.loader span:nth-child(14){
animation-delay: 1.3s;
}

.loader span:nth-child(15){
animation-delay: 1.4s;
}

.loader span:nth-child(16){
animation-delay: 1.5s;
}

.loader span:nth-child(17){
animation-delay: 1.6s;
}

.loader span:nth-child(18){
animation-delay: 1.7s;
}

.volume{
  display: flex;
  align-items:center;
  flex-basis: 10%;
  justify-content: space-around;
  filter: invert(1);
}

/* classi per formattazione testo*/

.text-white{
  color: white;
}

.background-color-aqua{
background-color: #2D5734;
}

.cerchio{
border-radius: 50%;
}

/*intervalli*/

@media screen and (min-width: 992px) {


}


@media screen and (min-width: 768px) and (max-width: 991px) {

.artisti ul li.artista{
width: calc(100% / 4);
}

.brani ul li{
  list-style-type: none;
  width: calc(100% / 3);
}




}

@media screen and (min-width: 420px) and (max-width: 767px) {


.artisti ul li.artista{
width: calc(100% / 3);
}

.brani ul li{
  list-style-type: none;
  width: calc(100% / 2);
}

.play{
margin-top: 5%;
}

.volume{
display: none;
}

}

@media screen and (max-width: 419px) {

.artisti ul li.artista{
width: calc(100% / 2);
}


.brani{
width: 100%;
overflow-y: scroll;
margin-bottom: 5%;
color: white;
}

.brani ul li{
width:90%;
}

.player{
position: fixed;
left: 0;
bottom: 0;
background-color: #282828;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
height: 100px;
overflow-y: scroll;
z-index: 3;
}

.play{
margin-top: 5%;
}

.actualartist{
display: none;
}
.volume{
display: none;
}

.brani{
width: 100%;
height: auto;
overflow-y: scroll;
margin-bottom: 5%;
color: white;

}

}

.prova{
width: 30px;

background: black;
}
